<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace声明映射对象的路径  -->
<mapper namespace="com.mapper.IWelfareMapper">
    <select id="findAll" resultType="com.po.Welfare">
        select * from welfare
    </select>
</mapper>